html.is-active {
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  -webkit-animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
          animation: fade-in 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

h2 {
  font-size: 2rem;
  position: relative;
}

h1, h2, h3, h4 {
  text-shadow: black 1px 1px 0px;
}

.title-has-lines:before, .title-has-lines:after {
  content: '';
  width: 50%;
  height: 1px;
  overflow: hidden;
  background: #f8f8f8;
  position: absolute;
  top: 51%;
}

.title-has-lines:before {
  left: 0;
  margin-left: -100px;
}

.title-has-lines:after {
  right: 0;
  margin-right: -100px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 20px;
    width: 30px;
    z-index: 10000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
  }
}

.hamburger .line {
  height: 1px;
  background: white;
  width: 100%;
  position: absolute;
}

.hamburger .line1 {
  top: 0;
}

.hamburger .line3 {
  bottom: 0;
}

.hamburger.is-active {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.hamburger.is-active .line1 {
  -webkit-transform: rotate(45deg) translateX(-10px);
          transform: rotate(45deg) translateX(-10px);
}

.hamburger.is-active .line2 {
  visibility: hidden;
}

.hamburger.is-active .line3 {
  bottom: 0;
}

.mobile-menu {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none;
  padding-bottom: 30px;
  opacity: 0;
}

.mobile-menu .mobile-nav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.mobile-menu .mobile-nav a {
  text-decoration: none;
  color: white;
  padding: 20px 0;
  font-size: 2rem;
}

.mobile-menu.is-active {
  opacity: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

section {
  padding: 20px 30px;
}

.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(/media/skywalker.jpg);
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.home .home-title {
  color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .home .home-title {
    margin-bottom: 150px;
  }
}

.home .home-title img {
  width: 50px;
}

.home .home-title h1 {
  font-size: 4em;
  text-align: center;
}

.home .home-title h1:after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: white;
}

.home .nav {
  margin-top: 50px;
  padding: 30px 0;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

@media screen and (max-width: 768px) {
  .home .nav {
    display: none;
  }
}

.home .nav > a {
  text-decoration: none;
  padding: 15px 50px;
  color: white;
  font-weight: 400;
  border: 1px solid white;
  margin: 0 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home .nav > a:hover, .home .nav > a:focus {
  background-color: rgba(59, 142, 193, 0.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.home .scroll-down {
  position: absolute;
  bottom: 100px;
  fill: #ffffff;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .home .scroll-down {
    bottom: 200px;
  }
}

.home .scroll-down svg {
  -webkit-animation: hover 2s infinite ease;
          animation: hover 2s infinite ease;
}

.events-section {
  background: url(/media/landscape.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  .events-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px;
  }
}

.events-section iframe {
  width: 50%;
  padding: 0 25px;
}

@media screen and (max-width: 1024px) {
  .events-section iframe {
    width: 100%;
    max-height: 550px;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .events-section iframe {
    max-height: 400px;
  }
}

@media screen and (max-width: 475px) {
  .events-section iframe {
    max-height: 300px;
  }
}

.events-section .events {
  padding: 0 25px;
  width: 50%;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .events-section .events {
    width: 100%;
    padding: 0;
  }
}

.events-section .events .upcoming-container, .events-section .events .future-container {
  margin-bottom: 25px;
  padding: 25px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: white;
  border: 1px solid #f8f8f8;
  text-align: center;
}

.events-section .events .upcoming-container h2, .events-section .events .future-container h2 {
  margin-bottom: 20px;
}

.collage-row {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.collage-row .image1-container {
  background: url(../media/skywalk-dinner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.collage-row .image2-container {
  background: url(../media/skywalk-dinner2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.collage-row .image3-container {
  background: url(../media/skywalk-dinner3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.collage-row .image4-container {
  background: url(../media/skywalk-dinner4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.collage-row .image5-container {
  background: url(../media/skywalk-dinner5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.collage-row .image6-container {
  background: url(../media/skywalk-dinner6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.book-packages-sections {
  background: url(/media/drinks.jpg);
  background-position: center;
  background-size: cover;
}

.packages-section {
  width: 100%;
  color: white;
  padding: 50px 50px 0 50px;
}

@media screen and (max-width: 768px) {
  .packages-section {
    padding: 20px 30px;
  }
}

.packages-section h2 {
  padding: 25px;
  text-align: center;
}

.packages-section .packages-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .packages-section .packages-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.packages-section .packages-container .package {
  padding: 25px;
  width: 100%;
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.packages-section .packages-container .package:first-child {
  margin-right: 25px;
}

@media screen and (max-width: 768px) {
  .packages-section .packages-container .package:first-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.packages-section .packages-container .package:nth-child(2n) {
  margin-left: 25px;
}

@media screen and (max-width: 768px) {
  .packages-section .packages-container .package:nth-child(2n) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.packages-section .packages-container .package > * {
  margin: 15px 0;
}

.packages-section .packages-container .package a {
  border: 1px solid white;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.packages-section .packages-container .package a:hover, .packages-section .packages-container .package a:focus {
  background: rgba(59, 142, 193, 0.5);
}

.book-section {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .book-section {
    padding: 50px 30px;
  }
}

.book-section > * {
  margin-bottom: 25px;
  color: #f8f8f8;
  text-align: center;
}

.book-section h2 {
  padding: 25px;
  text-align: center;
}

.book-section h3 {
  font-size: 1.5em;
}

.book-section .contact-container {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 50px 0;
  width: 100%;
}

.book-section .contact-container i {
  margin-right: 15px;
}

.reviews-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: justify;
  color: #f8f8f8;
  height: 100%;
}

.reviews-container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
}

.reviews-container > * + * {
  margin-left: 30px;
}

.reviews-container .review {
  background: #f8f8f8;
  border-top: 1px solid #f8f8f8;
  height: 500px;
  padding: 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: #3b8ec1;
  width: 100%;
}

.reviews-container .review p {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  background: #3b8ec1;
  padding: 25px;
  height: 50px;
}

footer p {
  padding: 5px;
  font-size: 10px;
}

footer a {
  text-decoration: none;
  color: #f8f8f8;
}

footer img {
  width: 20px;
}

@media screen and (max-width: 768px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 0.8em;
  }
  .home {
    background-position: center left;
  }
  .packages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .packages .packages-heading {
    width: 100%;
    height: 20vh;
    font-size: 5em;
  }
  .packages .package-type {
    width: 90%;
    margin: 20px;
    padding: 20px;
  }
  .packages .package-type a {
    margin-top: 20px;
  }
  .packages .package-type .coach-package-details, .packages .package-type .drive-package-details {
    height: 200px;
  }
  .reviews-container .review {
    height: 500px;
  }
}

@media only screen and (max-width: 768px) {
  .events > * + * {
    margin-left: 0;
  }
  .event-content {
    margin: 0;
    font-size: 1.2em;
  }
  .packages .package-type .coach-package-details {
    padding: 0;
    padding-bottom: 20px;
  }
  .packages .package-type .drive-package-details {
    padding: 0;
    padding-bottom: 20px;
  }
  .book-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reviews-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews-container .review {
    width: 100%;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=styles.css.map */